{% load staticfiles %}
<html>
    <body>
        <link rel="stylesheet" type=text/css href="{% static 'polls/css/materialize.css' %}" />
        <div id="wrong_user"></div>
        <div class="row">
            <form class="col s12" id="myform" >
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6 ">
                        <input type="text" id="username" name="user_name"  class="validate " > 
                        <label for="username"> Username </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 ">
                        <input type="text" id="password" name="password" class="validate ">
                        <label for="password" >Password</label>
                    </div>
                </div>
                <div class="center-align">
                    <button class="btn waves-effect waves-light" id="mybutton" type="submit" name="action">Log in             
                    </button>
                </div>
            </form>
        </div>
        <script src="{%static 'polls/js/jquery-3.0.js' %}"></script>
        <script src="{% static 'polls/js/materialize.js' %}"></script>
        <script src="{% static 'polls/js/loginjquery.js' %}"></script>
    </body>
</html>