
{% load staticfiles %}
<html>
    <body>
        <link rel="stylesheet" type=text/css href="{% static 'polls/css/materialize.css' %}" />
        <form method='POST'>
            <div class="row">
                <div class="input-field col s6 ">
                    <input type="email" id="email_id" name="email_id"  class="validate " > 
                    <label for="email_id"> Email id </label>
                </div>
            </div>
             <button class="btn waves-effect waves-light" id="mybutton" type="submit" name="action"> Submit             
                    </button>
        </form>
        <script src="{%static 'polls/js/jquery-3.0.js' %}"></script>
        <script src="{% static 'polls/js/materialize.js' %}"></script>
    </body>
</html>